.img-2, .img-1, .img-3, .img-inicio, .img-crystal {
  margin-left: auto;
  margin-right: auto;
  width: 470px;
  height: 350px;
  margin: 40px 20px 20px 75px; }

.cont {
  justify-content: center;
  padding-left: 500px;
  padding-right: 500px; }

.grid-div-two, .div-inicio, .div-crystal {
  text-align: center;
  margin: 70px 0px 70px 0px;
  padding: 55px 20px 55px 20px; }

.div2 {
  margin-bottom: 0;
  padding-bottom: 0; }

.line, .line-two, .line-3 {
  border-top: 1px solid #9c9c9c;
  height: 2px;
  padding: 0;
  margin: 20px auto 0 auto; }

.line-li {
  border-top: 1px solid #9c9c9c;
  height: 2px;
  padding: 0;
  margin: 20px auto 0 auto; }

.li-mineral {
  text-decoration: none;
  list-style-type: none;
  font-size: 18px;
  padding-top: 10px;
  padding-left: 5px;
  text-align: center;
  border: 1px solid; }

.bg-color {
  background: #a7c396; }

.bg-color-nav {
  background: #a7c396; }

.nav-text {
  background: #111111; }

.li-styles {
  padding: 11px 0px;
  list-style-type: none; }

h2, h3, h4, p, li, form {
  color: #111111; }

body {
  background-color: #e6e1cf; }

footer {
  padding: 45px;
  background-color: #a7c396;
  text-align: center; }

@media screen and (max-width: 900px) {
  .row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 0fr;
    width: 100%;
    margin: 0px; }
  section.contact {
    margin: 0px 0px 0px 0px;
    width: 100%; }
  .div-inicio {
    text-align: center;
    padding: 5px;
    margin: 30px 5px 5px 5px; }
  .div-crystal {
    text-align: center;
    margin: 30px 5px 5px 5px; }
  .cristal-row {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .img-crystal, .img-cristal {
    padding: 10px; }
  .p-cristal {
    text-align: center;
    font-size: 13px; }
  .text-down {
    padding: 10px; }
  div.text-middle {
    text-align: center;
    padding: 0px; }
  ul, li {
    padding: 0px;
    text-align: center;
    width: 100%; }
  .img-agata {
    max-width: 100%;
    height: 330px; }
  .img-inicio, .img-crystal {
    margin: 0px;
    width: 100%;
    height: 350px; }
  img.img-mineral {
    margin: 0px; }
  img.img-down-three, img.img-down-two {
    width: 350px;
    height: 200px; }
  img.img-center {
    width: 350px;
    height: 255px; }
  div.text-border.text-center {
    margin: 30px; }
  h2.title-down-cuarzo, h2.title-down-up, h2.title-down-agata {
    margin: 0px 0px 25px 0px;
    padding: 0px;
    text-align: center; }
  img.img-fluid.displ-n {
    display: none; }
  .displ-n {
    display: none; }
  img.img-center-cuarzo {
    width: 350px;
    height: 300px; }
  .col {
    padding: 0px;
    justify-content: center; }
  .img-down {
    margin-top: 10px; }
  .img-fluid {
    justify-content: center; }
  .images {
    width: 100%;
    height: auto; } }

.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr; }

.grid-container-two {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  text-align: center; }

.grid-div-two {
  grid-column-start: 1;
  grid-column-end: 4; }

.grid-container-three {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center; }

.grid-container-four {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  margin: 50px;
  padding: 300px; }

.img-2 {
  margin-top: 100px;
  width: 480px;
  height: 415px;
  border-radius: 10px; }

.img-1, .img-3 {
  margin-top: 100px;
  width: 480px;
  height: 415px; }

.minerales-img {
  margin: 35px 10px auto 10px; }

.coleccion {
  text-align: center;
  padding: 10px;
  margin: 10px; }

.coleccion-minerales {
  width: 500px;
  height: 250px; }

.coleccion-left {
  margin: 50px 10px auto 10px;
  text-align: center; }

.title-coleccion {
  margin: 10px auto 3px auto; }

.p-coleccion {
  text-align: center; }

.h2-cont {
  text-align: center;
  margin: 50px auto 25px auto;
  padding: 15px;
  font-size: 25px; }

.p-contacto {
  text-align: center;
  margin: 20px; }

.line {
  max-width: 400px; }

.line-two {
  max-width: 150px; }

.input {
  position: relative;
  justify-content: center; }

.contacto-form {
  margin: 50px 400px 50px 400px; }

.contact {
  margin: 50px 500px 100px 500px; }

.title {
  text-align: center;
  padding: 20px; }

.title-li {
  font-style: italic;
  margin: 0px; }

.title-down {
  font-style: italic; }

.title-down-up {
  text-align: right;
  margin: 0px 0px 10px 0px;
  padding-right: 110px; }

.title-down-cuarzo {
  text-align: right;
  margin: 0px 0px 10px 0px;
  padding-right: 50px; }

.p-mineral {
  margin-top: 10px;
  text-align: center; }

.div-mineral {
  padding: 15px; }

.div-down {
  padding: 30px; }

.line-3 {
  max-width: auto; }

.line-li {
  max-width: auto; }

.border {
  border: 2px solid; }

.text-border {
  border: 1px solid; }

.text-center-top {
  text-align: center;
  padding: 10px;
  margin-bottom: 35px; }

.text-center {
  text-align: center;
  padding: 10px; }

.text-middle {
  text-align: center;
  padding: 30px; }

.text-down {
  text-align: center; }

.text-down-middle {
  text-align: center;
  margin-top: 30px; }

.img-center-cuarzo {
  width: 300px;
  height: 265px; }

.img-center-agata {
  width: 450px;
  height: 270px;
  padding: 25px; }

.img-mineral {
  margin: 15px 0px 0px 58px; }

.img-center {
  margin-top: 15px;
  width: 450px;
  height: 189px; }

.img-left {
  padding: 10px; }

.img-middle, .displ-n {
  padding: 30px;
  width: 350px;
  height: 300px; }

.img-down {
  margin-top: 10px;
  width: 230px;
  height: 130px; }

.img-down-two {
  margin-top: 8px;
  width: 450px;
  height: 300px; }

.img-down-three {
  width: 370px;
  height: 355px;
  margin: 8px; }
