.h2-cont {
    text-align: map-get($pages, align);
    margin: map-get($pages, margin-left);
    padding: nth($size, 9);
    font-size: nth($size, 11);
}

.p-contacto {
    text-align: center;
    margin: nth($size, 2);
}

.line {
    @extend %line;
    max-width: nth($size, 7);
}
.line-two {
    @extend %line;
    max-width: nth($size, 13);
}


.input {
    position: map-get($pages, position)
}

.contacto-form {
    margin: map-get($pages, margin-bottom);
}

.contact {
    margin: map-get($pages, margin);
}
