.li-oro {
    @extend %li-oro;
}

.h2-mineral {
    margin: nth($size, 14);
}

.h2-oro-2 {
    margin: nth($size, 15);
    
}

.div-oro {
    padding: nth($size, 9);
}
.div-oro-2 {
    padding: nth($size, 15);
}

.oro {
    @extend %oro;
}

.img-oro {
    margin-top: nth($size, 16);
}

.p-oro {
    margin-top: nth($size, 17);
}

.text-oro {
    border: 2px solid ;
}
.line-3 {
    @extend %line;
    max-width: auto;
}

