@media screen and (max-width: 900px) {
     .row {
         display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: 0fr 0fr;

         width: 100%;
         margin: 0px;
}
section.contact {
    margin: 0px 0px 0px 0px;
    width: 100%;

}
.div-inicio {
    text-align: center; 
    padding: 5px;
    margin: 30px 5px 5px 5px;
}
.div-crystal {
    text-align: center;
    margin: 30px 5px 5px 5px;
}

 .cristal-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
 }
 .img-crystal, .img-cristal {
     padding: 10px;
 }
 .p-cristal {
     text-align: center;
     font-size: 13px;
 }

 .text-down {
     padding: 10px;
 }

 div.text-middle {
     text-align: center;
     padding: 0px ;
 }

    ul, li {
        padding: 0px;
        text-align: center;
        width: 100%;
    }

   
    .img-agata {
        max-width: 100%;
        height: 330px;
    }
    .img-inicio, .img-crystal {
        margin: 0px;
        width: 100%;
        height: 350px;
    }
    img.img-mineral {
        margin: 0px;
    }
    img.img-down-three, img.img-down-two {
        width: 350px;
        height: 200px;
    }
    img.img-center {
            width: 350px;
            height: 255px;
    }
    div.text-border.text-center {
        margin: 30px;
    }
    h2.title-down-cuarzo, h2.title-down-up, h2.title-down-agata {
        margin: 0px 0px 25px 0px;
        padding: 0px;
        text-align: center;
    }
    img.img-fluid.displ-n  {
        display: none;
    }

    .displ-n {
        display: none;

    }

    img.img-center-cuarzo {
        width: 350px;
        height: 300px;
    }

    .col {
        padding: 0px;
        justify-content: center;
    }
    .img-down {
        margin-top: 10px;
    }
    .img-fluid {
        justify-content: center;
    }
    
    

      .images {
          width: 100%;
          height: auto;
      }  

     }